# Python virtual environments
**/myvirtualenvcms/
**/venv/
**/.venv/

# Python cache
__pycache__/
*.py[cod]

# Django database
*.sqlite3

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# React / Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db